* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#eaf4ff, #d6ebff);
  font-family: Georgia, serif;
}

.wrapper {
  text-align: center;
}

#openBtn {
  padding: 12px 22px;
  border-radius: 25px;
  border: none;
  background: #4fa3ff;
  color: white;
  font-size: 15px;
  margin-bottom: 20px;
  cursor: pointer;
}

#envelope {
  width: 320px;
  height: 220px;
  position: relative;
  background: #5aa9ff;
  border-radius: 10px;
  overflow: hidden;
}

/* flap */
#flap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  background: #7bbcff;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  transform-origin: top;
  transition: transform 0.8s ease;
  z-index: 3;
}

/* paper */
#paper {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  height: 0;
  background: white;
  border-radius: 6px;
  overflow-y: auto;
  transition: height 0.8s ease;
  z-index: 2;
}

#letter {
  padding: 16px;
  white-space: pre-wrap;
  font-size: 14px;
  line-height: 1.6;
}

/* OPEN STATE */
#envelope.open #flap {
  transform: rotateX(180deg);
}

#envelope.open #paper {
  height: 260px;
}
